body {
    background-color: rgba(220, 220, 220, 0.25);
    margin-left: 25%;
    margin-right: 25%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: rgb(209, 17, 68);
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
h2, h3 {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 800;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

li {
    /* list-style-type: none; */
    padding: 5px;
}

a {
    text-decoration: none;
    /* background-color: rgba(95, 158, 160, 0.25); */

}

a:link {
    color: #000000;
}

a:hover {
    color: rgb(209, 17, 68);
}

