body {
    background-color: rgba(248, 217, 185, 0.25);
    font-size: 20px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    /* font-weight: 600; */
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

ul {
    /* width: 400px; */
    background-color: rgba(149, 200, 113, 0.755);
    text-align: center;
    padding: 100px;
    margin: 0 auto;
    margin-top: -119px;
}

li {
    list-style-type: none;
    padding: 5px;
}

a {
    text-decoration: none;
    /* background-color: rgba(95, 158, 160, 0.25); */

}

a:link {
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(255, 255, 255);
}

/* a:visited {
    color: rgb(25, 66, 229);
} */

